@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(54,57,62);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.topbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: rgb(51, 47, 47)

}

.title {
  font-size: 2rem;
  margin: 1rem;
  color: white;
}

.navigationbar ul {
  display: flex;
  list-style: none;
}

.navigationbar li:hover {
  background-color: #555;
}

.navigationbar li a {
  text-decoration: none;
  color: white;
  padding: 16px;
  display: block;
}

.navigationbar:active {
  opacity: 50%;
}

button{
  position: relative;
  background-color: rgb(27, 163, 45);
  color: red;
  border-radius: 20px;
  border: 5px;
  
}
button:active{
  position: relative;
  box-shadow: 2px 2px rgb(22, 134, 46);
  background-color: rgb(22, 134, 46);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 5px;
  transform: translate(2px,2px)
}
button:hover{
  opacity: 85%;
}

/* Code for location question */
:root {
  --primary-color: #009e6c;
  --border-color: #eee;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
  opacity: 90%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
  
}

.form {
  border: 1px solid var(--border-color);
  padding: 40px;
}

.form__group {
  margin-bottom: 20px;
}

.form__group label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}


.dropdown {
  position: relative;
}

.dropdown__selected {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 10px;
  font-size: 20px;
  border: 1px solid var(--border-color);
  position: relative;
  cursor: pointer;
  transition: box-shadow .3s ease;
}

.dropdown__selected::after {
  top: calc(50% - 2px);
  right: 10px;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border-top-color:#000;
  border-width: 4px;
  margin-left: -4px;
}

.dropdown__selected:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid var(--border-color);
  border-top: 0;
  background-color: #fff;
  z-index: 5;
  display: none;
}

.dropdown__menu_items {
  max-height: 210px;
  overflow-y: auto;
}

.dropdown__menu_search {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--border-color);
  padding: 12px;
  outline: 0;
  background-color: #f9f9f9;
}

.dropdown__menu_item {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  font-size: 20px;
  cursor: pointer;
}

.dropdown__menu_item:last-child {
  border-bottom: 0;
}

.container-1{
  display:flex;
}

.dropdown__menu_item:hover {
  background-color: var(--border-color);
}

.dropdown__menu_item.selected,
.dropdown__menu_item.selected:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.surviveImage{
  width: 40%;
  height: 40%;
}

#results{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}
.results{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

#results :hover {
  opacity: 70%;
}

.column:active {
  position: relative;
  transform: translate(2px,2px)
}

.column{
  background-color: rgb(100, 172, 162);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 2rem;

}

#survivalBackground {
  background-color: rgb(100, 172, 162);
}

.surviveImage {
  height: 40%;
  width: 40%;
}

.disaster_text
{
  display: flex;
  flex-wrap: wrap;
  width: 304px;
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.aboutus {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium';
}

#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium';
}

.daniel-contacts, .neelan-contacts, .jaiden-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  border: 2px solid;
  border-color: #000;
  padding: 8px;
  background-color: rgb(212, 210, 210);
}
  
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

#epic-background {
  background-image: url("img-gif background.gif");
  background-size: cover;
}

.meme-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.info-none-images1 {
  margin: 2rem;
  width: 300px;
  height: 600px;
}

.info-none-images2 {
  margin: 2rem;
}

#bigbox li {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 2rem;
  width: 200px;
  height: 100px;
}

#bigbox {
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

.columns1, .columns2, .columns3, .columns4, .columns5, .columns6, .columns7 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #84b4c7;
  border-style: solid;
  border-width: thin;
}

.calendertitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle{
  position: relative;
  text-align: center;
}
.hide{
  display: none;
}
.columns1:hover .hide, .columns2:hover .hide, .columns3:hover .hide, .columns4:hover .hide,.columns5:hover .hide
{
  display: block;
  color: red;
 
}
.columns6:hover .hide, .columns7:hover .hide{
  display: block;
  color: red;
}

.hovertext1:hover .hide{
  display: block;
  color: red;
}

.hovertext1{
 
  display: flex;
  width: 200px;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;

  text-decoration: none;
}
.hovertext2{
  width: 200px;

  
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;

  text-decoration: none;
}
.hovertext3{
  width: 200px;

  display: flex;
  
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;

  text-decoration: none;
}
.hovertext4{
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;
  width: 200px;

  text-decoration: none;
}
.hovertext5{
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;
  width: 200px;

  text-decoration: none;
}
.hovertext6{
  display: flex;
  width: 200px;
  
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;

  text-decoration: none;
}
.hovertext7{
  display: flex;
  width: 200px;
 
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: white;

  text-decoration: none;
}